body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to left, rgba(18,194,233,1) 33%, rgba(196,113,237) 33%, rgba(264,79,89) 33%); */
  /* background: linear-gradient(to left, rgba(18,194,233,1), rgba(196,113,237), rgba(264,79,89)); */
  background: linear-gradient(to left, #12c2e9, #c471ed,#f64f59 );
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
